@import "foundation";
@import "compass";
@import "ng-dialog/css/ngDialog.min";
@import "ng-dialog/css/ngDialog-theme-default.min";

ul.no-bullet{

	li{
		padding: 10px;
		border-top: 1px solid #e5e5e5;
		cursor: pointer;

		span, svg{
			display: inline-block;
			vertical-align: middle;
		}
		svg{
			margin-right: 10px;
		}
	}
	li:last-child{
		border-bottom: 1px solid #e5e5e5;
	}
	li:hover{
	    background-color: #f5f5f5;
	    color: #555;
    }
}
.ngdialog.ngdialog-theme-default .ngdialog-content{
	width: 720px;
}