!!!
%html
  %head
    %meta{"charset" => "utf-8"}
    %meta{"content" => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    
    = stylesheet_link_tag "app"

    %title
      = "File Manager"
  
  %body{ "class" => page_classes, "ng-app" => "myApp"}
    = yield

    = javascript_include_tag "all"    
