.row
	.columns
		%hr	
		%form{"name" => "myForm", "ng-controller" => "UploadCtrl"}
			%label Paste your json url here:
			%input{:type => "url", "name" => "input", "placeholder"=>"ex:http://medoroby.com.ua/data.json", "ng-model" => "json.url", "required"=>"required", "ng-change" => "inputChange()"}/	
			%div{"role" => "alert"}
				%span.error{"ng-show" => "myForm.input.$error.required"}
					Required!
				%span.error{"ng-show" => "myForm.input.$error.url"}
					Not valid url!			
			%hr
				%ul.breadcrumbs
					%li
						%a{:href => "#"}
							Home

				%ul.no-bullet
					%li{"ng-if" => "sublevel", "ng-click" => "levelUp(items)"}
						\...
					%li{"ng-repeat"=>"item in items", "ng-class" =>"item.items ? 'folder' : 'pic' ", "ng-click" => "levelDown(item)"}
						{{ item.name }}















				//%collection{"collection" => 'item'}






				/ %script#itemsTree{:type => "text/ng-template"}
				/ 	{{ i.name }}
				/ 	%ul{"ng-if" => "i.items"}
				/ 		%li{"ng-include" => "'itemsTree'", "ng-repeat" => "i in i.items", "ng-class" =>"i.items ? 'folder' : 'pic' "}
